.field-card{

    background-color: gold;
    padding: 0.75rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    // opacity: 0.;

    display: flex;


    code{
        flex-grow: 1;
    }

   .buttons{
       width:30%;
       text-align: right;
   }
    
}